# Ignore virtual environment
.venv/
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Logs and temp files
*.log
*.tmp
*.bak

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Data and ML outputs (optional, if large)
data/
*.csv
*.xlsx
*.h5
*.pt
*.joblib